body {
  background-image: url(im.webp);

  background-size: cover;
}
.container {
  width: 20px;
  height: 10px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form-items {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}
